{% extends 'base.html' %}
{% block title %}
Golf Score Tracker
{% endblock %}
{% block content %}
<div class="main">
	<p>Welcome to Golf Score Tracker – your go-to platform for tracking your golf scores, calculating gross scores from Stableford points, and managing your handicap!</p> 
	<br>
	<p>Whether you're a weekend golfer or a seasoned player, our easy-to-use tools will help you keep a detailed record of your performance, improve your game, and stay on top of your stats. With just a few clicks, you can input your scores, get accurate calculations, and monitor your progress over time.</p>
	<br>
	<p>Start optimizing your golf experience today – track, calculate, and improve with Golf Score Tracker</p>

	<a class="myButton" href="{{ url_for('calculate') }}">Start now</a>
	<div id="button-container">	
	<a href="{{ url_for('calculate') }}" class="cssbuttons-io-button">
		Get started
		<div class="icon">
			<svg
				height="24"
				width="24"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
				>
				<path d="M0 0h24v24H0z" fill="none"></path>
				<path
					d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
					fill="currentColor"
				></path>
			</svg>
		</div>
	</a>
	</div>
</div>
{% endblock %}
