{% extends 'base.html' %}
{% block title %}
Golf Score Tracker
{% endblock %}
{% block content %}
<div class="main">
	<p>Welcome to Golf Score Tracker – your go-to platform for tracking your golf scores, calculating gross scores from Stableford points, and managing your handicap!</p> 
	<br>
	<p>Whether you're a weekend golfer or a seasoned player, our easy-to-use tools will help you keep a detailed record of your performance, improve your game, and stay on top of your stats. With just a few clicks, you can input your scores, get accurate calculations, and monitor your progress over time.</p>
	<br>
	<p>Start optimizing your golf experience today – track, calculate, and improve with Golf Score Tracker</p>

	<br>
	<a class="button2" href="{{ url_for('calculate') }}">Get started</a>


</div>
{% endblock %}
